<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="../nprogress-jc/nprogress.css">
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <!-- 引入头部 -->
        {{ include '../layered/tou.html'}}

        <!-- 引入左侧 -->
        {{ include '../layered/zuolan..html'}}

        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">分类名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="title" required lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">时间</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="test5" placeholder="yyyy-MM-dd HH:mm:ss">
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">提交编辑</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- 引入底部 -->
        {{ include '../layered/dibu.html'}}
    </div>
    <script src="/layui/layui.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="../time工具/timegonju.js"></script>
    <script src="../nprogress-jc/nprogress.js"></script>
    <script src="../progress/progress.js"></script>
    <script>
        // 回显需要编辑的数据
        // 获取地址栏中的id参数
        let url = location.href;
        let reg = /id=(.*)&?/;
        // [...伪数组] => 转化为真数组
        // [,id] 解构赋值数组 舍弃第一个参数，只要第二个参数
        let [, id] = [...reg.exec(url)];
        console.log('--' + id);
        $.ajax({
            url: '/bianji',
            data: {
                id
            }
        }).then(src => {
            let {
                name,
                time
            } = src[0];
            time = moment(time).format('YYYY-MM-DD HH:mm:ss');
            $('.layui-input').val(name);
            $('#test5').val(time);
        })

        //JavaScript代码区域
        //Demo
        layui.use(['form', 'laydate', 'layer', 'element'], function() {
            var form = layui.form;
            var laydate = layui.laydate;
            var layer = layui.layer;
            var element = layui.element;

            //监听提交
            form.on('submit(formDemo)', function(data) {
                let sj = $('#test5').val();
                let mc = $('.layui-input').val();
                // 发送ajax请求
                $.ajax({
                    type: 'post',
                    url: '/xiugai',
                    data: {
                        sj,
                        mc,
                        id
                    }
                }).then(src => {
                    let {
                        errcode,
                        msjj
                    } = src;
                    if (errcode == 1) {
                        // 成功弹出提示，跳转到分类页面
                        $('.layui-btn').addClass('layui-btn-disabled');
                        layer.msg(msjj);
                        location.href = '/index3';
                    } else {
                        layer.msg(msjj);
                        return;
                    }
                })
                return false;
            });

            laydate.render({
                elem: '#test5',
                type: 'datetime'
            });
        });
    </script>
</body>

</html>